<!doctype html>
<html lang="en">
<head>
    <title>同义词管理</title>
    <include file="./Public/tpl/base/css.html" />
    <include file="./Public/tpl/base/angular.html" />
    <!--前端用户列表模板-->
    <script type="text/javascript" src="__PUBLIC__/js/SynonymWords.js"></script>
</head>
<body class=" theme-blue" ng-app="sopr" ng-controller="soprCtrl">
<include file="./Public/tpl/base/ie.html" />
<div class="content" >
    <div class="header">
        <h1 class="page-title">同义词管理 <button class="label label-success pull-right" style="font-size: 12px;padding: 6px 15px;border:none" onclick="location.reload()">刷 新</button></h1>

    </div>
    <div class="main-content">
        <div class="btn-toolbar list-toolbar">
            <form id="form-query" class="form-inline" onclick="return false;">
                <div class="form-group">
                    <label> 同义词：</label>
                    <input type="text" value="" name="keyName" class="form-control" ng-model="keyword">
                </div>
                <button id="form-query-btn" class="btn btn-success" ng-click="query()"><i class="fa fa-search"></i> 查询</button>
                <a href="#modal-add" data-toggle="modal" class="btn btn-success" ng-click="open()"><i class="fa fa-plus"></i> 新增</a>
                <button data-action="keywords-publish" class="btn btn-danger pull-right">&nbsp;&nbsp;发&nbsp;&nbsp;布&nbsp;&nbsp;</button>
            </form>
            <hr>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th style="width: 80px;">关键词</th>
                    <th style="width: 80px;">同义词</th>
                    <th>创建时间</th>
                    <th>有效期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="box-tbody">
                <tr ng-repeat="row in data">
                    <td >{{row.keyId}}</td>
                    <td >{{row.keyName}}</td>
                    <td>{{row.synonym}}</td>
                    <td>{{row.createTime}}</td>
                    <td>{{row.avaiDateTime}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="edit">编辑</button>
                        <button class="btn btn-primary" ng-click="delete">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pull-left">
                共 <span style="color: red;">{{pageinfo.TotalNum}}</span> 条, 每页 <span style="color: red;">{{pageinfo.PageSize}}</span> 条,
                共 <span style="color: red;">{{pageinfo.TotalPage}}</span> 页，第 <span style="color: red;" >{{pageinfo.CurrentPage}}</span> 页
            </div>
            <div class="pull-right form-inline">
                <div class="form-group">
                    <button class="btn btn-default" ng-click="getFirstPage()">首页</button>
                    <button class="btn btn-default" ng-click="getPrevPage()">上一页</button>
                    <button class="btn btn-default" ng-click="getNextPage()">下一页</button>
                    <button class="btn btn-default" ng-click="getLastPage()">末页</button>
                    <label> 跳至</label>
                    <select class="form-control" data-action="pagination-select">

                    </select>
                    页
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
<button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
<button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>

</body>
</html>
