<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th style="width: 80px;">关键词</th>
        <th style="width: 80px;">同义词</th>
        <th>创建时间</th>
        <th>有效期</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="box-tbody">
    </tbody>
</table>
<div id="loading" style="text-align: center">正在加载...</div>
<div id="box-pagination"></div>
<style type="text/css">
    .sort_num_edit {
        display: inline-block;
        width: 20px;;
    }

    .sort_text {
        display: none;
    }
</style>
<script type="text/mustache" id="tpl-table">
    [[#rows]]
    <tr>
        <td  data-id="[[id]]" data-keyName="[[keyName]]">[[keyName]]</td>
        <td  data-keyName="[[synonym]]">[[synonym]]</td>
        <td>[[createTime]]</td>
        <td>[[avaiDateTime]]</td>
        <td></td>
    </tr>
    [[/rows]]

</script>
<script type="text/mustache" id="tpl-pagination">
   <div class="pull-left">
        共 <span style="color: red;">[[TotalNum]]</span> 条, 每页 <span style="color: red;">[[PageSize]]</span> 条,
        共 <span style="color: red;">[[TotalPage]]</span> 页，第 <span style="color: red;" data-CurrentPage="[[CurrentPage]]">[[CurrentPage]]</span> 页
    </div>
    <div class="pull-right form-inline">
        <div class="form-group">
            <button class="btn btn-default" data-page="0">首页</button>
            <button class="btn btn-default" data-page="[[PrevPage]]" [[^PrevPage]]disabled="disabled"[[/PrevPage]]>上一页</button>
            <button class="btn btn-default" data-page="[[NextPage]]" [[^NextPage]]disabled="disabled"[[/NextPage]]>下一页</button>
            <button class="btn btn-default">末页</button>
            <label> 跳至</label>
            <select class="form-control" data-action="pagination-select">
                [[#pages]]<option value="[[.]]"> [[.]] </option>[[/pages]]
            </select>
             页
        </div>
    </div>
</script>