<form id="form-query" class="form-inline" onclick="return false;">
    <div class="form-group">
        <label> 同义词：</label>
        <input type="text" value="" name="keyName" class="form-control">
    </div>
    <div class="form-group">
        <label> 是否删除：</label>
        <select class="form-control" name="isDelete">
            <option value="0">正常</option>
            <option value="1">已删除</option>
        </select>
    </div>

    <button id="form-query-btn" class="btn btn-success"><i class="fa fa-search"></i> 查询</button>
    <a href="#modal-add" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i> 新增</a>
    <button data-action="keywords-publish" class="btn btn-danger pull-right">&nbsp;&nbsp;发&nbsp;&nbsp;布&nbsp;&nbsp;</button>
</form>