@charset "utf-8";
/* sdmenu */
div.sdmenu{width:100%;margin:0 auto;font-family:Arial, sans-serif;font-size:14px;padding-bottom:10px;background:url(bottom.gif) repeat-x  right bottom;}
div.sdmenu div{background:url(title.gif) repeat-x;overflow:hidden;}
div.sdmenu div:first-child{background:url(title.gif) repeat-x;}
div.sdmenu div.collapsed{height:25px;}
div.sdmenu div span{display:block;height:15px;line-height:15px;overflow:hidden;padding:5px 25px;font-weight:bold;color:white;background:url(expanded.gif) no-repeat 10px center;cursor:pointer;border-bottom:1px solid #ddd;}
div.sdmenu div.collapsed span{background-image:url(collapsed.gif);}
div.sdmenu div a{padding:5px 10px 5px 30px;background:#eee;display:block;border-bottom:1px solid #ddd;color:#066;}
div.sdmenu div a.current{background:#CC654A;color:blue;}
div.sdmenu div a:hover{background:#D3D3D3 url(linkarrow.gif) no-repeat right center;color:white;text-decoration:none;}