@charset "utf-8";
/* gridtable */
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dddddd;
	max-width:400px;
	text-align:center;
	word-wrap: break-word;
}
table.gridtable td {
	border-width: 1px;
	padding: 6px;
	border-style: solid;
	border-color: #666666;
	max-width:400px;
	text-align:center;
	word-wrap: break-word;
}
