<link rel="stylesheet" type="text/css" href="">
<script src="__PUBLIC__/lib/angular.js" type="text/javascript"></script>
<script src="__PUBLIC__/lib/angular-animate.js" type="text/javascript"></script>
<script src="__PUBLIC__/lib/ui-bootstrap.js"></script>
<script src="__PUBLIC__/js/utils.js"></script>
