<meta charset="utf-8">
<title>京东到家搜索运营平台</title>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href='__PUBLIC__/lib/css.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/lib/font-awesome/css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/premium.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/patch.css">