<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">新增热词</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>热词</label>
                        <input type="text" class="form-control" name="keywords" value="">
                    </div>
                    <div class="form-group">
                        <label>门店ID</label>
                        <textarea class="form-control" name="store_id" value="" placeholder="输入门店id，门店id之间用英文逗号隔开"></textarea>
                        <!--<input type="text" class="form-control" name="store_id" value="">-->
                    </div>
                    <div class="form-group">
                        <label>添加到</label>
                        <select class="form-control" name="intervention">
                            <option value="1">人工热词</option>
                            <option value="2">屏蔽热词</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>生效时间</label>
                        <input type="text" class="form-control" name="startTime" value="" placeholder="yy-mm-dd">
                    </div>
                    <div class="form-group">
                        <label>失效时间</label>
                        <input type="text" class="form-control" name="endTime" value="" placeholder="yy-mm-dd">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/bootstrap-datepicker/bootstrap-datepicker.css">
<script type="text/javascript">
    (function(){
        $('[name=startTime]').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN"
        });
        var startDate = new Date();
        $('[name=startTime]').datepicker('setDate', Yi.formatDate(startDate));


        $('[name=endTime]').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN"
        });
        var endDate = new Date();
        endDate.setDate(endDate.getDate() + 90);
        $('[name=endTime]').datepicker('setDate', Yi.formatDate(endDate));
    })();
</script>