<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th style="width: 40px;"><input type="checkbox"></th>
        <th>ID</th>
        <th style="width: 80px;">热词</th>
        <th style="width: 80px;">热词类型</th>
        <th style="width: 100px;">展示顺序</th>
        <th>商户ID</th>
        <th>门店ID</th>
        <th>创建时间</th>
        <th>生效时间</th>
        <th>过期时间</th>
    </tr>
    </thead>
    <tbody id="box-tbody">
    </tbody>
</table>
<div id="loading" style="text-align: center">正在加载...</div>
<div id="box-pagination"></div>
<style type="text/css">
    .sort_num_edit {
        display: inline-block;
        width: 20px;;
    }

    .sort_text {
        display: none;
    }
</style>
<script type="text/mustache" id="tpl-table">
    [[#rows]]
    <tr>
        <td><input type="checkbox" class='keywords-checkbox' data-id=[[id]]></td>
        <td data-id="[[id]]">[[id]]</td>
        <td data-keywords="[[keywords]]"><label class="label label-info">[[keywords]]</label></td>
        <td data-intervention="[[intervention]]">
            [[#isXitong]]<label class="label label-primary">系统热词</label>[[/isXitong]]
            [[#isRengong]]<label class="label label-success">人工热词</label>[[/isRengong]]
            [[#isPingbi]]<label class="label label-default">屏蔽热词</label>[[/isPingbi]]
        </td>
        [[#isPingbi]]<td>--</td>[[/isPingbi]]
        [[^isPingbi]]
            <td data-sort_num="[[sort_num]]" data-id=[[id]]>
                <span class="sort_num">[[sort_num]]</span>
                <input type="text" class="form-control sort_text" value="[[sort_num]]">
            </td>
        [[/isPingbi]]

        <td data-org_code="[[org_code]]">[[org_code]]</td>
        <td data-store_id="[[store_id]]">[[store_id]]</td>
        <td>[[create_time]]</td>
        <td>[[startTime]]</td>
        <td>[[endTime]]</td>
    </tr>
    [[/rows]]

</script>
<script type="text/mustache" id="tpl-pagination">
   <div class="pull-left">
        共 <span style="color: red;">[[TotalNum]]</span> 条, 每页 <span style="color: red;">[[PageSize]]</span> 条,
        共 <span style="color: red;">[[TotalPage]]</span> 页，第 <span style="color: red;" data-CurrentPage="[[CurrentPage]]">[[CurrentPage]]</span> 页
    </div>
    <div class="pull-right form-inline">
        <div class="form-group">
            <button class="btn btn-default" data-page="0">首页</button>
            <button class="btn btn-default" data-page="[[PrevPage]]" [[^PrevPage]]disabled="disabled"[[/PrevPage]]>上一页</button>
            <button class="btn btn-default" data-page="[[NextPage]]" [[^NextPage]]disabled="disabled"[[/NextPage]]>下一页</button>
            <button class="btn btn-default">末页</button>
            <label> 跳至</label>
            <select class="form-control" data-action="pagination-select">
                [[#pages]]<option value="[[.]]"> [[.]] </option>[[/pages]]
            </select>
             页
        </div>
    </div>
</script>